body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.square-box {
  width: 100px;
  height: 100px;
  font-size: 72px;
  margin: 0;
  padding: 0;
  float: left;
}

.status {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  margin: 50px;
}

.restart {
  background: green;
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  margin-top: 50px;
  font-size: 26px;
  color: white;
  border-radius: 50px;
}

.company-discription {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}
